.Container{
    display: grid;
    grid-template-columns: max-content auto max-content;
}
.TextContainer{
    font-family: 'Nunito Sans', sans-serif !important;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 300;
}
.Arrow {
    width: 1.5rem;
    margin: auto 0.5rem;
}
.ImageContainer{
    padding: auto 1rem;
}
.GridContainer{
    display: grid;
}
.Image {
    margin: auto;
    display: block; 
}