.nav-tabs-profile-main{
    padding: 0.5rem;
}
.nav-tabs-profile-main .nav-link{
    border: none !important;
    width: 20%;
    text-align: center;
    padding: 0.5rem;
    border: none;
    display: inline-block;
    width: max-content;

}
.nav-tabs-profile-main .nav-link.active{
    border-style: none none solid none !important;
    border-color: #F7e700 !important;
    border-width: 2px !important;

}
.PrivateValueLabel-label-11{
    color: black !important;

    font-size: 16px !important;
}
.nav-link.active:focus{
 outline: none !important;  
}
@media screen and (min-width: 768px){
    .nav-tabs-profile-main .nav-link{
        display: initial;
        width: 20%
    }
}