@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html,
body {
  padding: 0;
  margin: 0;

  /* overflow-x: hidden;
  overflow-y: scroll; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Lexend;
}
.font-lexend {
  font-family: Lexend;
}

a {
  color: inherit;
  text-decoration: none !important;
}
a.termsnavunderlinelink {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.MuiButtonBase-root:focus {
  outline: none;
}
.MuiButtonBase-root.Mui-selected {
  font-weight: 600;
}
.svg-container {
  width: 40%;
  z-index: 1;

  @media (max-width: 1024px) {
    width: 60%;
  }
  @media (max-width: 768px) {
    width: 40%;
  }
}
.Transition-Height-out {
  max-height: 0;
  transition: max-height 0.65s ease-out;

  background: #d5d5d5;
}

.Transition-Height-in {
  max-height: 450px;
  transition: max-height 0.95s ease-in;

  overflow: hidden !important;
}
